@import './partials/color.scss';
@import './partials/mixin';
@import './partials/variables';


*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

// Container
.container {
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 375px) {
  .container {
      max-width: 350px;
      margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .container {
      max-width: 540px;
      margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
      max-width: 720px;
      margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container {
      max-width: 960px;
      margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
      margin: 0 auto;
  }
}