
@import '../../styles/partials/color';


.footer {
    background: $dark-blue;
    padding: 60px 0;

    .footerContent {
        max-width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
            margin-bottom: 78px;
            img{
                max-width: 120px;
            }
        }

        ul {
            display: flex;
            justify-content: center;
            padding: 0;
            gap: 1rem;
            margin-bottom: 24px;
        }

        p{
            margin-bottom: 0;
            color: $white;
            font-size: 16px;
        }
        
    }
}