.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  .nav-brand {
    img{
      width: 120px;
    }
  }
  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    .nav-item {
      .nav__link {
        color: #111d5e;
      }
    }
  }
}
.nav-toggler {
  display: none;
  div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: #111D5E;
    transition: 0.3s ease-in;
  }
}

@media screen and (max-width: 768px) {
  .nav-toggler {
    display: block;
    cursor: pointer;
  }
  .nav-menu {
    position: fixed;
    top: 15vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    /* background: rgb(0, 33, 65); */
    flex-direction: column;
    justify-content: start !important;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}
/* Active Class */
.nav-active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle {
  .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
  }
  
}