@import "../../styles/partials/color";

.conference {
  padding: 80px 0;
  h2.section-title {
    text-align: center;
    color: $dark-blue;
    font-size: 48px;
  }

  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   width: 2px;
    //   height: 100%;
    //   background: #CDCDCD;
    //   top: 0;
    //   left: 50%;
    //   z-index: -1;
    //   margin-left: 4px;
    // }

    .content {
      padding: 10px 50px;
      position: relative;
      width: 50%;
      height: 150px;

      &::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 50%;
        background: #cdcdcd;
        top: 60px;
        right: -1%;
        z-index: -1;
        margin-left: -4px;
      }

      &:nth-child(odd) {
        left: 0;
      }

      &:nth-child(even) {
        left: 50%;

        &::after {
          content: "";
          position: absolute;
          width: 2px;
          height: 50%;
          background: #cdcdcd;
          top: 60px;
          left: 1%;
          z-index: -1;
          margin-left: -4px;
        }

        .step-icon {
          left: -22px;
        }

        .date {
          position: absolute;
          left: -40%;
          width: 100%;
        }
      }

      .text-box {
        padding: 20px 30px;
        background: #fff;
        position: relative;
        border-radius: 6px;
        display: flex;
        align-items: baseline;
        border-top: 4px solid #cdcdcd;

        .icon {
          color: $yellow;
          margin-right: 10px;
        }

        .text {
          h4 {
            font-size: 18px;
            font-weight: 500;
            color: #111d5e;
            line-height: 21px;
            margin-bottom: 10px;
          }

          p {
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            color: $gray;
          }
        }
      }

      .step-icon {
        border: 1px solid #cdcdcd;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        position: absolute;
        right: -30px;
        top: 0px;
        z-index: 10;
        color: #cdcdcd;
        background: #fff9eb;
      }

      .date {
        position: absolute;
        left: 115%;
        width: 100%;
        color: #cdcdcd;
      }
    }

    .content.active {
      &::after {
        background: $yellow;
      }

      .step-icon {
        border-color: $yellow;
        color: $yellow;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .conference {

    h2.section-title {
        font-size: 30px;
      }
    .timeline {
      margin: 50px auto;

      .content {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;

        .date {
          left: 80px;
          top: -20px;
          width: 50%;
        }

        &::after {
          left: 35px;
        }

        &:nth-child(even) {
          left: 0%;

          .date {
            left: 80px;
            top: -20px;
            width: 50%;
          }

          &::after {
            left: 35px;
          }

          .step-icon {
            left: 10px;
          }
        }

        .step-icon {
          left: 10px;
        }
      }
    }
  }
}
